@font-face {
    font-family: 'Bemio';
    src: url('../font/bemio/bemio.eot');
    src: url('../font/bemio/bemio.eot?#iefix') format('embedded-opentype'),
         url('../font/bemio/bemio.woff') format('woff'),
         url('../font/bemio/bemio.ttf') format('truetype'),
         url('../font/bemio/bemio.svg#bemio') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HaginCapsMedium';
    src: url('../font/hagin/hagincapsmedium.eot');
    src: url('../font/hagin/hagincapsmedium.eot?#iefix') format('embedded-opentype'),
         url('../font/hagin/hagincapsmedium.woff') format('woff'),
         url('../font/hagin/hagincapsmedium.ttf') format('truetype'),
         url('../font/hagin/hagincapsmedium.svg#hagincapsmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}